<!-- Menu right aligned -->
<div class="col" align="right">
  <h3>
    Administradores
    <button class="btn btn-primary btn-sm">
      <fa-icon icon="plus" routerLink="/admin/registerAdmin"></fa-icon>
    </button>
  </h3>

</div>

<!-- Submission Table -->
<table class="table table-striped">

  <!-- Table header -->
  <thead>
    <tr>
      <th scope="col">{{translationText?.name}}</th>
      <th scope="col-xs">{{translationText?.edit}}</th>
      <th scope="col-xs">{{translationText?.erase}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of admins">

      <!-- Name -->
      <td class="col">{{item.name}}</td>

      <!-- Status -->
      <td class="col-xs">
        <button class="btn btn-primary btn-sm edit">
          <fa-icon icon="edit"></fa-icon>
        </button>
      </td>
      <td class="col-xs">
        <button class="btn btn-primary btn-sm delete">
          <fa-icon icon="trash"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>