/* You can add global styles to this file, and also import other style files */

/*@import url("./bootstrap/css/bootstrap.css");*/

/****************************** Menus *******************************/

.bottom-menu {
  display: none;
}

.mHeight,
.mHeight > * {
  height: calc(100vh - var(--menu-height-top));
  --menu-diff: var(--menu-height-top);
}

.left-menu {
  background-color: #1e282c;
  float: left;
}

.my-scroll {
  overflow-x: hidden;
}

.ez-center {
  display: grid;
  place-items: center;
}

/* Mobile config */

@media screen and (max-width: 768px) {
  .bottom-menu {
    display: block;
  }
  .mHeight,
  .mHeight > * {
    height: calc(100vh - var(--menu-height-bottom) - var(--menu-height-top));
    --menu-diff: calc(var(--menu-height-bottom) + var(--menu-height-top));
  }
  .left-menu {
    display: none;
  }
}

/****** File item *******/

/* File item  title that inherit from .font-title */

.file-title {
  padding: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  word-break: break-all;
  overflow-y: hidden;
}

/********************************************************************/

/* Bug fix */

.fa-layers {
  display: inline-flex;
}

pre {
  white-space: pre-wrap;
}

/*****************NEW_CSS***************/

.rectangle {
  /* background: #FFFFFF; */
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  /* Drop shadow */
}

:root {
  font-family: OpenSans, sans-serif;
  --pad-1: 5px;
  --colors-red-error: #d9534f;
  --colors-nied1: #c8cfd6;
  --colors-nied2: #cedde9;
  --colors-nied3: #bbd4e9;
  --colors-nied4: #8ebbdf;
  --colors-nied5: #799fbb;
  --colors-nied6: #1478bd;
  --colors-nied7: #0e4f7c;
  /* --colors-nied7: #ff0000; */

  --menu-height-bottom: 44px;
  --menu-height-top: 44px;
}

.color-nied7 {
  color: var(--colors-nied7);
}

.font-title,
.file-title {
  color: var(--colors-nied7);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.va-top {
  vertical-align: top;
}

.btn-icon {
  max-height: 38px !important;
  padding-left: 9px !important;
  padding-right: 12px !important;
}

.btn-icon > fa-icon {
  margin-right: 5px;
}

/******************************* Botões *******************************/

.btn {
  border-radius: 0;
}

.btn + .btn {
  margin-left: 5px;
}

.btn-primary {
  background-color: var(--colors-nied7);
  border-color: var(--colors-nied7);
}

.btn-primary:hover {
  background-color: var(--colors-nied6);
  border-color: var(--colors-nied6);
}

.btn-secondary {
  color: var(--colors-nied7);
  background-color: white;
  border-color: var(--colors-nied7);
}

.btn-secondary:hover {
  color: var(--colors-nied7);
  background-color: var(--colors-nied3);
}

/**************************************************************/

fa-icon {
  line-height: 0;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

label.btn-icon {
  display: inline-flex;
  cursor: pointer;
  margin: 0;
}

.pad-5 {
  padding: 5px;
}

.shadow1 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.shadow2,
input[type="text"].form-control,
textarea.form-control {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

fa-icon {
  font-size: 24px;
}

/***************************************/

.well {
  background-color: #edf3ff;
  border: solid 2px #ccdbea;
}

#del {
  margin-top: 0.2em;
  position: absolute;
  right: 0px;
  color: #00264c;
  margin: 0px;
  padding: 0px;
}

.ball {
  width: 85%;
  background-color: #ccdbea;
  border-radius: 100%;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ball:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

hr {
  background-color: #ccdbea;
}

#person {
  display: inline-block;
  background-color: #fff;
  border: solid 2px #ccdbea;
  border-radius: 1em;
  padding: 0px 0.5em;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}

.fa {
  font-size: 24px;
}

.ava-offline-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -14px 0 0 -49px;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #f00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0f0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00f;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4d658d;
  border-bottom-color: #4d658d;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #d4cc6a;
  border-bottom-color: #d4cc6a;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417c;
  border-bottom-color: #84417c;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #fff;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

.painel-fundo {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
