p {
    margin: 0;
}

a {
    color: #1e282c;
}

a:hover {
    text-decoration: none;
}

textarea {
    max-height: 105px;
}

.invalid {
    color: var(--colors-red-error);
}

.is-invalid {
    background-position: top calc(.375em + .1875rem) right 25px !important;
}

@media screen and (max-width: 576px) {
    .createdBy > div {
        max-width: 40px !important;
        margin: 0px !important;
    }

    .createdBy > div > fa-icon {
        font-size: 40px !important;
    }

    .createdBy > p {
        align-items: center;
    }

    .createdBy {
        padding: 0px 0px 0px 15px;
    }

    .inputText {
        margin-left: 45px !important;
        margin-bottom: 8px !important;
    }
  }