.submit {
  margin-top: 22px;
  margin-bottom: 22px;
}

.m-15 {
  margin-left: -15px;
  margin-right: -15px;
}

.centered {
  display: table;
  margin: auto;
  text-align: center;
}

.noBackColorNorBorder {
  background-color: transparent;
  border: none;
}

label {
  margin-bottom: 8px;
}

.form-item {
  margin-bottom: 16px;
}

.submissao {
  margin: 0;
}

.icon-calendar {
  color: var(--colors-nied7);
  position: absolute;
}

.b-cinza {
  position: relative;
  max-width: 192px;
  height: 90px;
  padding: 0;
  background-color: var(--colors-nied1);
}

.b-save {
  position: relative;
  min-width: 180px;
  height: 44px;
  left: 6px;
  top: 6px;
  padding: 0;
  background-color: var(--colors-nied7);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}

.b-rascunho {
  position: relative;
  min-width: 180px;
  height: 29px;
  left: 6px;
  top: 11px;
  background-color: var(--colors-nied7);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}

.concluir {
  font-size: 20px;
  line-height: 27px;
  position: relative;
  top: 6px;
}

.rascunho {
  font-size: 12px;
  line-height: 16px;
  position: relative;
  top: 6px;
}
