<!----------------------- User post -->
<div class="row no-gutters">

  <!-- User info -->
  <div *ngIf="!isActivity" class="col-lg">
    <!-- User photo -->
    <div class="row text-center mb-1 createdBy">
      <a [routerLink]="[ '/profile', wallPost?.createdBy?.id ]" class="col-auto col-sm-auto p-0"
        style="max-width: 130px; margin: auto;">
        <fa-icon *ngIf="!wallPost?.createdBy?.picture" icon="user-circle" style="font-size: 130px;"></fa-icon>
        <img *ngIf="wallPost?.createdBy?.picture" src="{{ profilePictureLink | async }}"
          class="rounded-circle img-fluid">
      </a>

      <!-- User name -->
      <a [routerLink]="[ '/profile', wallPost.createdBy?.id ]" class="col col-sm-12 d-flex"
        style="cursor: pointer; justify-content: center; align-items: center;"><strong>
          {{ wallPost?.createdBy?.name }}<fa-icon *ngIf="wallPost?.teacher" size="xs"
            style="color: var(--colors-nied4);" icon="graduation-cap"></fa-icon>
        </strong></a>
    </div>
  </div>

  <!-- Activity info -->
  <a [routerLink]="[ '/courses', courseId, 'activities', wallPost?.activityId ]" *ngIf="isActivity"
    class="col-lg text-center mb-1">
    <!-- Activity icon -->
    <fa-icon icon="tasks" style="font-size: 125px; color: var(--colors-nied7);"></fa-icon>
  </a>

  <div class="col-12 col-lg-9 ml-lg-3">
    <!-- New activity message -->
    <h5 *ngIf="isActivity" class="text-center"><a
        [routerLink]="[ '/courses', courseId, 'activities', wallPost?.activityId ]">
        {{ translationText?.newActivity }}
      </a></h5>

    <!-- Post content -->
    <div *ngIf="!isActivity" class="content-post">
      <pre [ngClass]="{'post-text': !expanded, 'post-expand': expanded}" #postElement>{{ wallPost.text }}</pre>
      <button *ngIf="!expanded" class="btn p-0 w-100" (click)="expanded = true"><strong>
          {{ translationText?.readMore }}
        </strong></button>
    </div>

    <!-- Activity Post content -->
    <div *ngIf="isActivity" class="content-activity">
      <pre *ngIf="isActivity">{{ activityPostText | async }}</pre>
    </div>

    <!-- Post date -->
    <div class="row justify-content-between">
      <div class="col-auto mt-1 pr-0">
        <small>
          {{ wallPost?.lastModifiedDate.toLocaleString() }}
        </small>
      </div>

      <!-- Icons -->
      <div class="col-auto menu mt-1">
        <!-- Fixed -->
        <div *ngIf="wallPost?.isFixed" class="col-auto d-flex" style="align-items: center;">
          <fa-icon icon="thumbtack" style="color: var(--colors-nied7)"></fa-icon>
        </div>

        <!-- Like button -->
        <button class="col-auto btn" (click)="likeToggle()" style="color: var(--colors-nied7)">
          <fa-icon [icon]="[wallPost?.liked?'fas':'far','thumbs-up']"></fa-icon>

          {{ wallPost?.likeCounter }}
        </button>

        <!-- Menu -->
        <div *ngIf="(canDelete | async) || (canPin | async)" class="col-auto ml-0">
          <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button class="btn dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
              <fa-icon icon="ellipsis-v" aria-hidden="true" style="color: var(--colors-nied7)"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngIf="canPin |async" class="dropdown-item" (click)="pinToggle()">
                {{ wallPost.isFixed? translationText?.unpin : translationText?.pin }}
              </button>
              <button *ngIf="canDelete |async" class="dropdown-item" (click)="confirm.open()">
                {{ translationText?.delete }}
                <app-confirm-delete #confirm (ok)="deletePost($event)"></app-confirm-delete>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>