p,
pre {
    margin: 0;
}

a {
    color: #1e282c;
}

a:hover {
    text-decoration: none;
}

.dropdown-toggle::after {
    display: none;
}

.buttons > button {
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 5px;
}
.content-post {
    min-height: 144px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25); 
}

.content-activity {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25); 
}

.menu > .col-auto {
    margin: 0px 0px 0px 15px;
    padding: 0;
    float: left;
    height: 100%;
}

h5 > a {
    color: var(--colors-nied7);
    text-decoration: underline;
    font-weight: bold;
}

.post-text {
    max-height: 124px;
    overflow: hidden;
    word-break: break-word;
}

.post-expand {
    max-height: none;
    word-break: break-word;
}

@media screen and (max-width: 576px) {
    .createdBy > div {
        max-width: 60px !important;
        margin: 0px !important;
    }

    .createdBy > div > fa-icon {
        font-size: 60px !important;
    }

    .createdBy {
        padding: 0px 15px;
    }
  }