<!-- Menu -->

<app-material-menu [canUpload]="canUpload$ | async"></app-material-menu>

<!-- List -->
<div class="container-fluid">

  <!-- Materials -->
  <div class="row">
    <!-- List of Materials -->
    <div style="padding: 5px" class="col-sm-12 col-md-6 col-xl-4"
      *ngFor="let mat of materials$ | async; trackBy: trackMaterial">

      <ng-container *ngIf="(mat?.files?.length) > 0; else elseTemplate">

        <!-- File Material -->
        <app-material-item [material]="mat" [canDelete]="canDelete$ | async"></app-material-item>

      </ng-container>

      <ng-template #elseTemplate>

        <!-- Link Material -->
        <app-material-link [material]="mat" [canDelete]="canDelete$ | async"> </app-material-link>
      </ng-template>
    </div>
  </div>
</div>
