/* reset stacking context */
::root {
  opacity: 0.9;
}

.dropdown-toggle::after {
  display: none;
}

thead > tr > th {
  border: 0;
  border-bottom: 0.05em solid rgba(250, 172, 172, 0.27);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #cedde9;
}

td {
  padding: 5px;
  color: #000000;
  margin-left: 5px;
}

table {
  margin: 20px 0;
  margin-right: 0px;
  border: 0px solid;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

table td {
  border-top: 0;
  padding-left: 12px;
  margin: 0;
}

thead {
  font-style: normal;
  color: #000000;
  height: 20px;
}

.top {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.release-alert {
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 5px;
  height: auto;
  max-width: 500px;
}

hr {
  margin: auto;
  margin-bottom: 10px;
  border: solid 1px #000;
  width: 95%;
}

.bar {
  margin: auto;
  margin-top: -12px;
  margin-bottom: 12px;
  height: 0.5px;
  width: 70%;
  background: black;
  border: 0.5px solid black;
}

.evaluate-button {
  border: 0;
}

.nota {
  font-weight: bold;
  vertical-align: top;
  color: #0e4f7c;
}

fa-icon {
  color: #0e4f7c;
}

.exclamation {
  color: #000000;
  position: relative;
  top: 3px;
}

.commentIcon:hover {
  color: #0e4f7c;
}

.hideButton {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  margin: 15px 15px 0 0;
}

.hideButton fa-icon {
  font-size: 16px;
  color: black;
}

.caption {
  padding: 0 5px;
  margin: 0 5px;
  width: max-content;
  height: max-content;
  border: 1px solid #cacaca;
}

.caption > p {
  letter-spacing: 0px;
  font-size: 12px;
  margin: 0;
}

.caption > p > fa-icon {
  color: #0e4f7c;
  transition-duration: 0.2s;
  position: relative;
  vertical-align: 0;
  font-size: 20px;
}

.btn-grades{
  background-color: #799FBB;
  border-color: #799FBB;
}
