<div style="margin-left: 15px;">
    <div *ngIf="error">
        <br>
        <p>{{translationText?.error}}</p>
        <br>
        <br>
        <button class="btn btn-primary" routerLink="/register"
            style="cursor:pointer">{{translationText?.tryAgain}}</button>
    </div>

    <div *ngIf="!error">
        <br>
        <p>{{translationText?.noError}}</p>
        <br>
        <br>
    </div>
</div>