<!-- Menu right aligned -->
<div class="col" align="right">
  <h3>
    Cursos
    <button class="btn btn-primary btn-sm" routerLink="/admin/courseRegister">
      <fa-icon icon="plus"></fa-icon>
    </button>
  </h3>
  <!-- Filter dropdown -->

</div>

<!-- Submission Table -->
<table class="table table-striped">

  <!-- Table header -->
  <thead>
    <tr>
      <th scope="col">
        <!--{{translationText?.name}}-->
      </th>
      <th scope="col-xs">
        <!--{{translationText?.action}}-->
      </th>
      <th scope="col-xs">
        <!--{{translationText?.action}}-->
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows of submissions -->
    <tr *ngFor="let item of courses">

      <!-- Name -->
      <td class="col"><a routerLink="/courses/{{item?.id}}/wall">{{item?.name}}</a></td>

      <!-- Action -->
      <td class="col-xs">
        <button class="btn btn-primary btn-sm edit">
          <fa-icon icon="edit"></fa-icon>
        </button>
      </td>
      <td class="col-xs">
        <button class="btn btn-primary btn-sm delete">
          <fa-icon icon="trash"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>