<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container, weight-box">

    <!-- Toggle for arithmetic average -->
    <div class="center">
      <input type="checkbox" id="sameWeight" formControlName="useArithmeticMean">
      <label for="sameWeight">{{ translationText?.sameWeight }}</label>
    </div>

    <!-- Big alert =D -->
    <div class="alert alert-warning alert-changes" role="alert">
      {{ translationText?.weightWarning1 }}
      <strong>
        {{ translationText?.weightWarning2 }}
      </strong>
      {{ translationText?.weightWarning3 }}
    </div>


    <!-- The real form -->
    <table *ngIf="editWeights" class="table table-striped table-changes">
      <thead>
        <tr>
          <th>{{ translationText?.activities }}</th>
          <th>{{ translationText?.gradeWeight }}</th>
        </tr>
      </thead>
      <tbody>
        <!-- Activities names and controls -->
        <tr *ngFor="let weightItem of weightArray; let i=index" formArrayName="weights">
          <td class="table-titles">
            {{ this.lastConfig.gradedActivities[i]?.title }}
          </td>
          <td class="table-weight">
            <input type="number" step="0.01" min="0" class="input-size"
              [formControl]="$any(weightItem.controls['weight'])">
          </td>
        </tr>
        <!-- Default weight -->
        <tr>
          <td class='table-titles td-not-evaluated'>{{ translationText?.defaultWeight }}</td>
          <td class="table-weight">
            <input type="number" class="input-size" formControlName="defaultWeight">
          </td>
        </tr>
        <!-- Sum of weights -->
        <tr>
          <td class="sumback "> {{ translationText?.totalWeight }}</td>
          <td class="sumback " class="text-center"> {{ weightSum }}</td>
        </tr>
      </tbody>
    </table>


    <!-- Footer warning -->
    <div>
      <p class="warningtxt">{{ translationText?.warning }}</p>
    </div>
    <div class="left" style="width: 305px; ">
      <input type="checkbox" id="pubUpdate" formControlName="publishOnWall">
      <label for="pubUpdate">{{ translationText?.pubUpdate }}</label>
    </div>

    <!-- Buttons -->
    <div class="bottom-button">
      <button class='btnClose' (click)="sent.emit()">{{ translationText?.btnClose }}</button>
      <button class='btnSave' type="submit" aria-hidden="true" [disabled]="!form.valid">{{ translationText?.btnSave
        }}</button>
    </div>
  </div>
</form>
