<div class="form-inline form-group" [formGroup]="form"
     style="display:inline-block; vertical-align: middle">

  <!-- Date input -->
  <input class="form-control col" type="date" formControlName='date'>

  <!-- Time input -->
  <span class="col-2">às</span>
  <input class="form-control col" type="time" formControlName='time'>

</div>
<br>