<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <textarea class="form-control input-lg textbox" id="answer"  formControlName="answer" required
      placeholder="{{ translationText?.comment }}" (ngModel)="submission?.answer"></textarea>
    </div>

    <div class="form-group">
      <app-file-upload [uploadedFiles]="this.uploadedFiles" (add)="addFiles($event)" (remove)="removeFiles($event)">
      </app-file-upload>
    </div>
    <!-- Submit Button -->
    <div style="float: right;">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      {{ translationText?.save }}
    </button>
  </div>
  </form>
  </div>
