<div class="row no-gutters">
  <div class="col-auto">
    <!-- Students table -->
    <table class="table table-striped" style="overflow: visible; white-space: nowrap;">
      <thead style="border-top: 2px solid #cacaca;border-left: 2px solid #cacaca;">
        <tr class="border-left" [ngStyle]="{'height': headerSize$ | async}">
          <th scope="col" class="tr-th">{{ translationText?.students }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="(finalGrades$ | async) as finalGrades; else noFinalGrades0">
          <tr *ngFor="let finalGrade of finalGrades" class='border-a'>
            <td *ngIf="finalGrade?.user?.name as name" style="
            max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: initial;
    ">
              <a title="{{name}}" [routerLink]="['/profile', finalGrade.user.id]">
                {{ name }}
              </a>
            </td>
          </tr>
          <tr class="border-b">
            <td td class="blank-line-left"><br></td>
          </tr>
          <tr class="border-c">
            <th class="border-d">{{ translationText?.media }}</th>
          </tr>
        </ng-container>
        <ng-template #noFinalGrades0>
          <tr>
            <td class="mid, border-a">{{ translationText?.usersNull }}</td>
          </tr>
          <tr class="border-b">
            <td class="blank-line-left"><br></td>
          </tr>
          <tr class="border-c">
            <th class="border-d">{{ translationText?.media }}</th>
          </tr>
        </ng-template>
      </tbody>
    </table>

  </div>


  <ng-container *ngIf="(items$ |async) as items">
    <div class="col" style="white-space: nowrap; overflow: auto;">
      <!-- Activities and Grades Table -->


      <table class="table table-striped" style="text-align: center;">
        <thead style="border-top: 2px solid #cacaca;">
          <tr [ngStyle]="{'height': headerSize$ | async}">
            <ng-container *ngIf="(activities$ | async) as activities; else noActivities">
              <th *ngFor="let activity of activities, let i=index" [class.tr-th]="!!activity?.gradesReleaseDate"
                [class.tr-th-not-evaluated]="!activity?.gradesReleaseDate"
                [class.tr-th-not-published]="!activity?.publishDate" style="min-width: 200px; padding: 5px;">

                <div class="ez-center">

                  <a [routerLink]="['/courses', courseId, 'activities', activity.id]" style="white-space: normal;
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    " title="{{ activity?.title }}">
                    {{ activity?.title }}

                  </a>
                </div>
              </th>
            </ng-container>
            <ng-template #noActivities>
              <th class="tr-th">{{ translationText?.activitiesNull }}</th>
            </ng-template>
          </tr>
        </thead>
        <tbody *ngIf="(activities$ | async) as activities">
          <tr *ngFor="let finalGrade of (finalGrades$ |async)">
            <!-- middle cell content -->
            <ng-container *ngFor="let activity of activities">
              <ng-container *ngIf="getItem(items, finalGrade?.user?.id, activity?.id) as item; else noItem">
                <td [class.td]="item?.evaluation" [class.td-not-evaluated]="!item?.evaluation">
                  {{ getStatusText(activity, item) }}
                </td>
              </ng-container>
              <ng-template #noItem>
                <td class="td-not-evaluated">
                  {{ getStatusText(activity) }}
                </td>
              </ng-template>
            </ng-container>
          </tr>
          <tr class="blank-line-mid">
            <td class="blank-col-mid" colspan="1000"><br></td>
          </tr>

          <!-- Class average grades for each activity -->
          <tr class="mid-bottom">
            <ng-container *ngIf="(averages$ |async) as averages">
              <th *ngFor="let activity of activities, let i=index" class="border-bottom">
                <ng-container *ngIf="!activity.gradeWeight; else graded">
                  {{ translationText?.notGraded }}
                </ng-container>
                <ng-template #graded>
                  <ng-container *ngIf="submissionPeriodEnded(activity); else notEvaluated">
                    {{ getAverage(averages, activity.id) | number}}
                  </ng-container>
                  <ng-template #notEvaluated>
                    -
                  </ng-template>
                </ng-template>
              </th>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>


  <!-- Right side of the big table => Average -->
  <div class="col-auto">
    <table class="table table-striped">
      <thead style="
        border: 2px solid #cacaca;
        background-color: var(--colors-nied3);
      ">
        <tr #tr>
          <th style="padding: 5px;">
            <p style="margin: 0 0 5px 0">
              {{ translationText?.scoreStudent }}
            </p>
            <button style="margin: 0;" type="button" class="btn btn-primary, btnEdit" (click)="mediaModal.open()">
              <fa-icon icon="pen-square" class="fa-pen-square"></fa-icon>
              <p class="text-button">{{ translationText?.scoreEdit}}</p>
            </button>
          </th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        <ng-container *ngIf="(finalGrades$| async) as finalGrades; else noFinalGrades2">
          <tr *ngFor="let finalGrade of finalGrades" class="border-top-right">
            <td class="border-blank-left">{{ finalGrade?.score | number }}</td>
          </tr>
          <tr class="border-mid-right">
            <td class="border-blank-left" style="background-color: white;"><br></td>
          </tr>
          <tr class="border-bottom-right">
            <th class="border-blank-left">{{ finalAverage$ | async | number }}</th>
          </tr>
        </ng-container>
        <ng-template #noFinalGrades2>
          <tr class="border-th-right">
            <td><br></td>
          </tr>
          <tr class="border-mid-right">
            <td class="border-blank-left"><br></td>
          </tr>
          <tr class="border-bottom-right">
            <th class="border-blank-left">0</th>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class='observations'>
  <div class="evaluated-box"></div>
  <p class="evaluated-text">{{ translationText?.evaluatedActivities }}</p>
  <div class="not-evaluated-box"></div>
  <p class="not-evaluated-text">{{ translationText?.notEvaluatedActivities }}</p>
  <div class="not-published-box"></div>
  <p class="not-published-text">{{ translationText?.futureActivities }}</p>
</div> -->


<!-- Grade weight modal =D  -->
<app-modal-form #mediaModal [screenSize]="'md'" [title]="translationText?.averageTitle" class="no-padding">
  <app-grades-edit-weight *ngIf="!mediaModal.closed" (sent)="mediaModal.close(); reload();"></app-grades-edit-weight>
</app-modal-form>
