<div class="container-fluid shadow1 item">

  <a [href]="url" (click)="openLocalFile($event)" target="_blank" class="row">

    <!-- File icon -->
    <div class="col-auto img-wrapper" title="Arquivo">
      <fa-icon [icon]="fileClass"></fa-icon>
      <app-sync-status-icon style="    position: absolute;
    left: 11px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 1);"
        [syncStatus]="$any(material.files[0]?.status?.currently ?? 'NeedsToBeUploaded')">
      </app-sync-status-icon>
    </div>

    <!-- File info -->
    <div class="col">

      <!-- File name -->
      <div class="row align-items-center" [title]="material.files[0]?.fileName" style="height: 50px;">
        <p class="col-auto file-title">
          {{material.files[0]?.fileName}}
        </p>
      </div>

      <!-- File size -->
      <div class="row align-items-end justify-content-center" title="{{dateFull}}">
        <div class="col-auto align-self-end">
          <p>{{dateFull.split(' ')[0]}} ({{sizeStr}})</p>
        </div>
      </div>
    </div>
  </a>

  <!--Button to remove the file-->
  <div *ngIf="canDelete" style="position: absolute;bottom: -5px;right: 0;">
    <!--'Remove' icon-->
    <button class="button-as-image" (click)="confirm.open()" title="Apagar arquivo">
      <fa-layers [fixedWidth]="true">
        <fa-icon icon="square" transform="grow-8"></fa-icon>
        <fa-icon icon="times" [inverse]="true"></fa-icon>
      </fa-layers>
    </button>

    <app-confirm-delete [title]="'Apagar arquivo?'" #confirm (ok)="$event?delete():null">
      Esta ação não poderá ser desfeita.
    </app-confirm-delete>
  </div>
</div>