<!-- Table caption -->
<div class='container'>
  <div class="row">
    <!-- Evaluated -->
    <div class="col-sm">
      <div class="evaluated-box"></div>
      <p class="evaluated-text" style="top: 0.1rem;">{{ translationText?.evaluatedActivities }}</p>
    </div>

    <!-- Not Evaluated -->
    <div class="col-sm">
      <div class="not-evaluated-box"></div>
      <p class="not-evaluated-text" style="top: 0.1rem;">{{ translationText?.notEvaluatedActivities }}</p>
    </div>

    <!-- There is an evaluation comment -->
    <div class="col-sm">
      <fa-icon icon="comment" class="commentIcon" style="left: 0.3rem; top: 0.60rem;"></fa-icon>
      <p class="evaluated-text" style="top: -0.82rem;">{{ translationText?.hasComment }}</p>
    </div>

    <!-- There is not an evaluation comment -->
    <div class="col-sm">
      <fa-icon [icon]="['far', 'comment']" class="commentIcon" style="left: 0.3rem; top: 0.60rem;"></fa-icon>
      <p class="evaluated-text" style="top: -0.82rem;">{{ translationText?.hasNotComment }}</p>
    </div>
  </div>
</div>

<!-- Main table -->
<div class="gradesTable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="min-width: 250px; max-width: 450px">{{ translationText?.activitiesList }}</th>
        <th scope="col" style="width: 20%; text-align: center;">{{ translationText?.scoreStudent }}</th>
        <th scope="col" style="width: 20%; text-align: center;">{{ translationText?.scoreCourse }}</th>
      </tr>
    </thead>
    <tbody *ngIf="(activities$ | async) as activities">
      <tr *ngFor="let activity of activities, index as i">
        <ng-container *ngIf="(getItem$(activity) | async) as myItem">
          <!-- Activity Title -->
          <td [class.td]="myItem.evaluated" [class.td-not-evaluated]="!myItem.evaluated">
            <a [routerLink]="['/courses', courseId ,'activities', activity.id]" title="{{ activity?.title }}">
              {{ activity?.title }}
            </a>

          </td>

          <!-- Student Score -->
          <td [class.td]="myItem.evaluated" [class.td-not-evaluated]="!myItem.evaluated" style="text-align: center;">

            <!-- Status or Score -->
            <p>{{getStatusText(activity, myItem.item)}}</p>

            <!-- Comment Icon -->
            <p *ngIf="myItem.evaluated">{{ myItem.item?.evaluation?.score }}
              <button *ngIf="myItem.item.evaluation?.comment" (click)="commentModal.open()" class="hideButton"
                style="position: right; padding-right:20 px">
                <fa-icon icon="comment" class="commentIcon" style="top: 0;"></fa-icon>
              </button>
            </p>

            <!-- Modal for viewing evaluations  -->
            <app-modal-form #commentModal [screenSize]="'md'" [title]="activity.title">
              <div class="container">
                <div class="row justify-content-left">
                  <div class="col-auto">
                    <p><strong>{{ translationText?.score }}</strong> <span *ngIf="myItem.item"> {{
                        myItem.item?.evaluation?.score }} </span>
                      <span *ngIf="!myItem.item"> {{ translationText?.notEvaluated }} </span>
                    </p>
                    <p><strong> {{ translationText?.comment }}</strong></p>
                    <p>{{ myItem.item?.evaluation?.comment }}</p>
                  </div>
                </div>
              </div>
            </app-modal-form>
          </td>
        </ng-container>

        <!-- Class Grade Average -->
        <td>
          <p style="text-align: center;">
            <ng-container *ngIf="(getAverage$(activity) | async) as myValue; else notGraded">
              {{ myValue.average }}
            </ng-container>
            <ng-template #notGraded>
              {{ translationText?.notGraded }}
            </ng-template>
          </p>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="!(activities$ |async)?.length">
      <tr>
        <td colspan="100">{{ translationText?.activitiesNull }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- My Final grade -->
<div class="grades-average">
  <table table class="table table-striped">
    <thead>
      <tr class="average-text">
        <th scope="col" style="min-width: 250px; max-width: 450px" style="border-bottom: 0;">
          <div>{{ translationText?.currentGrade }}</div>
        </th>
        <th scope="col" style="width: 20%" style="border-bottom: 0;text-align: center;">
          <div class="media">
            <ng-container *ngIf="(finalGrade$ | async) as finalGrade">
              {{ finalGrade.score }}
            </ng-container>
          </div>
        </th>
        <th scope="col" style="width: 20%" style="border-bottom: 0; text-align: center;"></th>
      </tr>
    </thead>
  </table>
</div>
