.gradesTable {
  position: relative;
  box-align: center;
  border: 1px solid #cacaca;
  padding: 0;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  width: 95%;
  margin-top: 15px;
  margin-left: 16px;
  margin-right: 15px;
}

thead > tr > th {
  border: 0;
  border-bottom: 0.05em solid rgba(250, 172, 172, 0.27);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #cedde9;
}

td {
  padding: 5px;
  color: #000000;
  margin-left: 5px;
}

.td-not-evaluated {
  padding: 5px;
  color: #1478bd;
}

table {
  margin-bottom: 0;
}

table td {
  border-top: 0;
  padding-left: 5px;
}

thead {
  font-style: normal;
  color: #000000;
  height: 20px;
}

.commentIcon {
  color: #0e4f7c;
  transition-duration: 0.2s;
  position: relative;
  top: -1rem;
  vertical-align: 0;
  font-size: 20px;
}

.commentIcon:hover {
  color: #0e4f7c;
}

.grades-average {
  position: relative;
  box-align: center;
  border: 1px solid #cacaca;
  padding: 0;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  width: 95%;
  margin-top: 15px;
  margin-left: 16px;
  margin-right: 15px;
}

.evaluated-box {
  background-color: black;
  width: 1.1em;
  height: 0.45em;
  position: relative;
  margin: 0;
  top: 0.85rem;
  left: 0.5rem;
}

.evaluated-text {
  font-size: 12px;
  position: relative;
  left: 1.75rem;
}

.not-evaluated-box {
  background-color: #1478bd;
  width: 1.1em;
  height: 0.45em;
  position: relative;
  margin: 0;
  top: 0.85rem;
  left: 0.5rem;
}

.not-evaluated-text {
  color: #1478bd;
  font-size: 12px;
  position: relative;
  left: 1.75rem;
}

.tableEnd {
  color: none;
  border: 0;
  padding-bottom: 0.4em;
  background-color: rgba(255, 255, 255, 255);
}

.average-text {
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

p {
  margin-bottom: 0;
}

.hideButton {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  margin-bottom: -0.7rem;
  margin-top: -0.7rem;
}

.container {
  position: relative;
  box-align: Left;
  max-width: 800px;
  border: 1px solid #cacaca;
  padding: 0px;
  padding-left: 20px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  margin-left: 16px;
  margin-right: 15px;
}
.col-sm {
  max-width: 200px;
  margin: 0;
  padding: 0;
}
