<!-- Cloud -->
<svg class="cloud" width="50" height="35" viewBox="0 0 50 35" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M42.5 12.5C42.5 13.4531 42.3203 14.3672 42 15.2031C46.5625 16.125 50 20.1641 50 25C50 30.5234 45.5234 35 40 35H11.25C5.03906 35 0 29.9609 0 23.75C0 18.8438 3.14062 14.6719 7.51562 13.1328C7.50781 12.9219 7.5 12.7109 7.5 12.5C7.5 5.59375 13.0938 0 20 0C24.6328 0 28.6719 2.51562 30.8359 6.26562C32.0234 5.46875 33.4609 5 35 5C39.1406 5 42.5 8.35938 42.5 12.5ZM24.5 32C31.4036 32 37 26.6274 37 20C37 13.3726 31.4036 8 24.5 8C17.5964 8 12 13.3726 12 20C12 26.6274 17.5964 32 24.5 32Z"
    fill="#FF8C00" />
</svg>

<!-- Arrows -->
<svg class="arrows" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M16.7899 0.868759C16.6498 0.736306 16.4837 0.669859 16.2918 0.669859C16.1 0.669859 15.9342 0.736306 15.7938 0.868759L14.3551 2.21951C13.5656 1.51449 12.6616 0.968209 11.6435 0.580933C10.6254 0.19362 9.57737 0 8.50007 0C6.4709 0 4.70015 0.58097 3.18751 1.74317C1.67482 2.90521 0.67877 4.42139 0.199158 6.29206V6.36529C0.199158 6.45601 0.234163 6.5346 0.304291 6.60082C0.374418 6.66716 0.457378 6.70027 0.553284 6.70027H2.75573C2.91812 6.70027 3.02872 6.61997 3.0878 6.45953C3.39766 5.76162 3.59311 5.35333 3.67437 5.23463C4.19081 4.43896 4.877 3.81424 5.73295 3.36055C6.58898 2.9069 7.51126 2.67998 8.49991 2.67998C9.98313 2.67998 11.2706 3.15813 12.3627 4.11435L10.8351 5.55905C10.6953 5.69169 10.625 5.84882 10.625 6.03031C10.625 6.21175 10.6953 6.36881 10.8351 6.50141C10.9755 6.63405 11.1416 6.70031 11.3334 6.70031H16.2918C16.4837 6.70031 16.6497 6.63405 16.7899 6.50141C16.9299 6.36881 17 6.21179 17 6.03031V1.3399C17 1.15842 16.9304 1.00143 16.7899 0.868759Z"
    fill="#FF8C00" />
  <path
    d="M16.369 9.38081H14.244C14.0817 9.38081 13.971 9.46101 13.9121 9.62159C13.6024 10.3196 13.4067 10.7277 13.3256 10.8464C12.809 11.6419 12.1228 12.2668 11.2671 12.7205C10.411 13.1743 9.48873 13.4009 8.50005 13.4009C7.78439 13.4009 7.09443 13.2754 6.43045 13.0242C5.76639 12.7727 5.17234 12.4167 4.64854 11.956L6.16487 10.5217C6.30501 10.3892 6.37513 10.232 6.37513 10.0506C6.37513 9.86919 6.30501 9.71195 6.16487 9.57953C6.02465 9.44678 5.85869 9.38037 5.66684 9.38037H0.708408C0.51644 9.38037 0.350405 9.44678 0.210228 9.57953C0.07005 9.71198 0 9.86922 0 10.0507V14.7411C0 14.9224 0.07005 15.0796 0.210266 15.2122C0.35056 15.3446 0.516595 15.4112 0.708447 15.4112C0.900261 15.4112 1.06622 15.3446 1.20647 15.2122L2.63418 13.8615C3.42373 14.5733 4.32213 15.1213 5.32931 15.5052C6.33648 15.8892 7.3787 16.0809 8.45589 16.0809C10.4777 16.0809 12.2411 15.4999 13.7463 14.3378C15.2515 13.1758 16.2402 11.6594 16.7127 9.78888C16.7201 9.77495 16.7236 9.75049 16.7236 9.71572C16.7236 9.62485 16.6884 9.5466 16.6183 9.48004C16.5482 9.41407 16.4651 9.38081 16.369 9.38081Z"
    fill="#FF8C00" />
</svg>
