/* Atualizar */
.arrows {
  position: relative;
  right: 34px;
  top: 3px;
}

@keyframes rotatingArrows {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrows {
  animation: rotatingArrows 2s infinite;
}
