<div class="container-fluid">
  <!-- Header -->
  <app-menu-header></app-menu-header>

  <!-- Main content -->
  <div class="row mHeight" [ngStyle]="{'height': 'calc( ' +innerHeight+ 'px - var(--menu-diff))'}">
    <!-- Left menu -->
    <app-menu class="col-auto left-menu p-0">
    </app-menu>

    <!-- Content -->
    <div [ngStyle]="{'height': 'calc( ' +innerHeight+ 'px - var(--menu-diff))'}" class="col my-scroll">
      <router-outlet class="p-1"></router-outlet>
    </div>
  </div>


  <div *ngIf="(isOffline$ | async) === true" style="position: relative;height: 0;margin-left: -14px;">
    <div style="position: relative;top: -25px;background-color: green;
    text-align: center;">
      Você está offline
    </div>
  </div>

  <!-- Footer menu -->
  <div class="row bottom-menu">
    <app-menu-footer></app-menu-footer>
  </div>
</div>
