<svg width="36" height="31" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M27.9594 10.2144H22.7645V0.841848C22.7645 0.376586 22.2997 0 21.7255 0H13.2751C12.7009 0 12.2361 0.376586 12.2361 0.841848V10.2144H7.04117C6.16288 10.2144 5.67733 11.0473 6.24323 11.5956L16.7716 21.6978C17.1858 22.1007 17.9526 22.1007 18.3668 21.6978L28.7566 11.5956C29.3225 11.0473 28.8377 10.2144 27.9594 10.2144Z" fill="#0E4F7C"/>
    <path d="M34.9453 18H30.7266C30.1437 18 29.6719 18.3923 29.6719 18.877V25.0156H6.32812V18.877C6.32812 18.3923 5.85633 18 5.27344 18H1.05469C0.471797 18 0 18.3923 0 18.877V27.6465C0 29.0975 1.41891 30.2773 3.16406 30.2773H32.8359C34.5804 30.2773 36 29.0975 36 27.6465V18.877C36 18.3923 35.5282 18 34.9453 18Z" fill="#0E4F7C"/>
</svg>
