<body class="login-page">
    <div class="login-box col p-0">
        <div class="login-logo">
            <img _ngcontent-igc-c3="" class="col-auto" src="assets/img/icon_ava_offline.png">
            <br>
            <span>AVA Offline</span>
        </div>

        <div class="login-box-body">
            <h5 class="mb-2 justify-content-center d-flex">
                {{ translationText?.changePassword }}
            </h5>

            <div *ngIf="passwordChanged" class="alert alert-success">
                {{ translationText?.passwordChanged }}
            </div>

            <form *ngIf="!passwordChanged" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

                <label>{{ translationText?.password }}</label>
                <input type="password" id="password" class="form-control mb-2" formControlName="password"
                    [class.is-invalid]="changePasswordForm.controls['password'].errors &&
                (changePasswordForm.controls['password'].touched || changePasswordForm.controls['password'].dirty)"
                    placeholder="{{ translationText?.passwordPH }}">
                <small *ngIf="changePasswordForm.controls['password'].errors &&
                    (changePasswordForm.controls['password'].touched || changePasswordForm.controls['password'].dirty)"
                    class="invalid-feedback">
                    {{ translationText?.validationMessages.password }}
                </small>

                <label>{{ translationText?.repeatPassword }}</label>
                <input type="password" id="repeat_password" class="form-control mb-2"
                    [class.is-valid]="changePasswordForm.value.repeat_password.length!==0 && !changePasswordForm.errors?.passwordsDontMatch && (changePasswordForm.controls['repeat_password'].touched || changePasswordForm.controls['repeat_password'].dirty)"
                    [class.is-invalid]="changePasswordForm.errors?.passwordsDontMatch && (changePasswordForm.controls['repeat_password'].touched || changePasswordForm.controls['repeat_password'].dirty)"
                    formControlName="repeat_password" placeholder="{{ translationText?.repeatPasswordPH }}">
                <small
                    *ngIf="changePasswordForm.errors?.passwordsDontMatch && (changePasswordForm.controls['repeat_password'].touched || changePasswordForm.controls['repeat_password'].dirty)"
                    class="invalid-feedback">
                    {{ translationText?.validationMessages.repeatPassword }}
                </small>
                <small *ngIf="!changePasswordForm.errors?.passwordsDontMatch" class="valid-feedback">
                    {{ translationText?.validationMessages.repeatPasswordOK }}
                </small>

                <div class="row justify-content-end mt-3">
                    <div class="col-auto">
                        <button class="btn btn-primary btn-block btn-flat" type="submit"
                            [disabled]="!changePasswordForm.valid">{{ translationText?.conclude }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
