<div [ngSwitch]="syncStatus" [title]="syncStatus">
  <div *ngSwitchCase="'Downloaded'">
    <app-icon-disponivel-offline></app-icon-disponivel-offline>
  </div>
  <div *ngSwitchCase="'NeedsToBeDownloaded'">
    <app-icon-sincronizacao-necessaria></app-icon-sincronizacao-necessaria>
  </div>
  <div *ngSwitchCase="'IsDownloading'">
    <app-icon-sincronizacao-andamento></app-icon-sincronizacao-andamento>
  </div>
  <div *ngSwitchCase="'NotPresentLocally'">
    <app-icon-download-disponivel></app-icon-download-disponivel>
  </div>
  <div *ngSwitchDefault>
    <app-icon-erro-sincronizacao></app-icon-erro-sincronizacao>
  </div>
</div>
