<!-- User info -->
<div class="col-sm">
  <!-- User photo -->
  <div class="row text-center mt-2 mb-sm-2 pr-0 createdBy">
    <a [routerLink]="[ '/profile', comment?.createdBy?.id ]" class="col-auto col-sm-12 p-0"
      style="max-width: 50px; margin: auto;">
      <fa-icon *ngIf="!comment?.createdBy?.picture" icon="user-circle" style="font-size: 50px;"></fa-icon>
      <img *ngIf="comment?.createdBy?.picture" src="{{ profilePictureLink | async }}" class="rounded-circle img-fluid">
    </a>

    <!-- User name -->
    <a [routerLink]="[ '/profile', comment?.createdBy?.id ]" class="col col-sm-12 p-sm-0 d-flex"
      style="justify-content: center;"><strong>
        {{ comment?.createdBy?.name }}<fa-icon *ngIf="comment?.teacher" size="xs" style="color: var(--colors-nied4);"
          icon="graduation-cap"></fa-icon>
      </strong></a>
  </div>
</div>

<div class="col-sm-9 mt-2 comment">
  <!-- Content -->
  <div class="content">
    <pre [ngClass]="{'comment-text': !expanded, 'comment-expand': expanded}" #commentElement>{{ commentText }}</pre>
    <button *ngIf="!expanded" class="btn p-0 w-100" (click)="expanded = true"><strong>
        {{ translationText?.readMore }}
      </strong></button>
  </div>

  <!-- Post date -->
  <div class="row justify-content-between">
    <div class="col-auto mt-1 pr-0">
      <small>
        {{ comment?.lastModifiedDate.toLocaleString() }}
      </small>
    </div>

    <!-- Icons -->
    <div class="col-auto menu mt-1 pl-0">
      <!-- Like button -->
      <button class="col-auto btn" style="color: var(--colors-nied7)" (click)="likeToggle()">
        <fa-icon [icon]="[comment?.liked?'fas':'far','thumbs-up']"></fa-icon>

        {{ comment?.likeCounter}}
      </button>

      <!-- Menu -->
      <div *ngIf="canDelete$ | async" class="col-auto ml-0">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
          <button class="btn dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
            <fa-icon icon="ellipsis-v" aria-hidden="true" style="color: var(--colors-nied7)"></fa-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="confirm.open()">
              {{ translationText?.delete }}
              <app-confirm-delete #confirm (ok)="deleteComment($any($event))"></app-confirm-delete>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>