.dropdown-toggle::after {
    display:none;
}

.content {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    padding: 10px;
}

.comment-text {
    max-height: 45px;
    overflow: hidden;
    word-break: break-word;
}

.comment-expand {
    max-height: none;
    word-break: break-word;
}

p,
pre {
    margin: 0;
}

a {
    color: #1e282c;
}

a:hover {
    text-decoration: none;
}

.menu > .col-auto {
    margin: 0px 0px 0px 15px;
    padding: 0;
    float: left;
    height: 100%;
}

@media screen and (max-width: 576px) {
    .createdBy > div {
        max-width: 40px !important;
        margin: 0px !important;
    }

    .createdBy > div > fa-icon {
        font-size: 40px !important;
    }

    .createdBy {
        padding: 0px 15px;
    }

    .createdBy > p {
        align-items: center;
    }

    .comment {
        margin-left: 45px;
        margin-top: 0px !important;
    }
  }
