.container-fluid {
    background-color: var(--colors-nied2);
}

textarea {
    max-height: 133px;
}

.invalid {
    color: var(--colors-red-error) !important;
}

.is-invalid {
    background-position: top calc(.375em + .1875rem) right 25px !important;
}