<!-- Add files/links -->
<div *ngIf="canUpload" class="row no-gutters">

  <!-- Add files -->
  <app-material-upload-files style="margin-right: 15px;" *ngIf="canUpload">
  </app-material-upload-files>

  <!-- Button to create a link -->
  <button class="btn btn-primary btn-icon" (click)="content.open()">
    <fa-icon icon="link"></fa-icon>
    <span style="vertical-align: text-bottom;">Criar Link</span>

    <!-- Modal -->
    <app-modal-form #content [title]="'Criar Link'" (ok)="$event?update():null">
      <!-- Modal content -->
      <ng-container *ngIf="!content.closed">

        <app-material-create-link (sent)="content.close(true)" (closeForm)="content.close(false)">
        </app-material-create-link>
      </ng-container>
    </app-modal-form>
  </button>
</div>
