<div class="container-fluid item" [ngClass]="{'isActivity': isActivity()}">

  <!-- --------------- Post -------------- -->
  <div class="row">
    <app-wall-post class="col" [wallPost]="post"></app-wall-post>
  </div>

  <div class="ml-sm-5">
    <!-- Comment toggle -->

    <!-- <div class="col text-center" *ngIf="comments.length > nonExpandedComments">
      <button class="btn btn-secondary" (click)="expand()" style="cursor: pointer;">
        {{ translationText?.oldComments }}
      </button>
    </div> -->

    <!----------------- Comments --------------->

    <ng-container *ngFor="let comment of comments$ | async; trackBy: trackComment">
      <app-wall-comment class="row" [post]="post" [comment]="comment" *ngIf="comment">
      </app-wall-comment>
    </ng-container>

  </div>

  <!--------------- Create comment -------------->
  <div class="row">
    <app-wall-comment-create class="col" [post]="post"></app-wall-comment-create>
  </div>

</div>
