.login-box {
    width: 500px;
    margin: 3% auto;
  }
  
  .login-logo {
    font-size: 35px;
    text-align: center;
    font-weight: 300;
  }
  
  .login-box-body {
    padding: 15px;
  }

  label {
    margin: 0;
  }
  
  input[type="email"].form-control {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }