<body class="login-page">
  <div class="login-box col p-0">
    <div class="login-logo">
      <img _ngcontent-igc-c3="" class="col-auto" src="assets/img/icon_ava_offline.png">
      <br>
      <span>AVA Offline</span>
    </div>

    <div class="login-box-body">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <h5 class="mb-2 justify-content-center d-flex">
          {{ translationText?.forgotPassword }}
        </h5>

        <label>{{ translationText?.email }}</label>
        <input type="email" id="email" class="form-control mb-2" formControlName="email"
          placeholder="{{ translationText?.emailPH }}">

        <div *ngIf="errorMessage!==''" class="d-flex alert alert-danger">
          {{ this.errorMessage }}
        </div>
        <div *ngIf="successMessage!==''" class="d-flex alert alert-success">
          {{ this.successMessage }}
        </div>

        <span>{{ translationText?.message }}</span>

        <div class="row justify-content-end mt-3">
          <div class="col-auto p-0">
            <a class="btn btn-secondary btn-block btn-flat" routerLink="/login">{{ translationText?.cancel }}</a>
          </div>

          <div class="col-auto">
            <button class="btn btn-primary btn-block btn-flat" type="submit" [disabled]="!forgotPasswordForm.valid">{{
              translationText?.conclude }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
