<div class="container-fluid shadow1 item">

  <!-- Box -->
  <a [href]="material?.link" target="_blank" class="row link-box">

    <!-- File icon -->
    <div class="col-auto img-wrapper" title="Link">
      <fa-icon icon="link"></fa-icon>
    </div>

    <!-- File info -->
    <div class="col">

      <!-- File name -->
      <div class="row align-items-center" style="height: 50px;">
        <p class="col-auto file-title" [title]="material.title">
          {{material.title}}
        </p>
      </div>

      <!-- Date -->
      <div class="row align-items-end justify-content-center" title="{{dateFull}}">
        <div class="col-auto">
          <p class="material-date">{{dateFull.split(' ')[0]}}</p>
        </div>
      </div>
    </div>
  </a>

  <!--Button to remove the file-->
  <div *ngIf="canDelete" style="position: absolute;bottom: -5px;right: 0;">
    <!--'Remove' icon-->
    <button class="button-as-image" (click)="modal.open()" title="Editar Link">
      <fa-icon icon="pen-square"></fa-icon>
    </button>

    <!-- MODAL -->
    <app-modal-form #modal [title]="'Editar Link'" (ok)="update($event)">

      <!-- Modal content -->
      <ng-container *ngIf="!modal.closed">

        <app-material-create-link [link]=" material" (sent)="modal.close(true)" (closeForm)="modal.close(false)">
        </app-material-create-link>

      </ng-container>


    </app-modal-form>
  </div>
</div>
