<!-- Modal content -->
<ng-template #content let-modal>


  <!-- Modal header -->
  <div class="modal-header">

    <!-- Modal title -->
    <h4 class="modal-title">Confirmar ação</h4>

    <!-- Close button -->
    <button type="button" class="close" aria-label="Close" #closeButton (click)="ok.emit(false);modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <!-- Modal body -->
  <div class="modal-body">
    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>

    <div class="default-body">
      Deseja realmente excluir este item?
    </div>
  </div>


  <!-- Modal footer -->
  <div class="modal-footer">

    <!-- Cancel Button -->
    <button type="button" class="btn btn-success" 
      (click)="ok.emit(false); modal.dismiss('Cross click')">
      Cancelar
    </button>

    <!-- Confirm Button -->
    <button type="button" class="btn btn-outline-danger" (click)="ok.emit(true);modal.dismiss('Cross click')">
      Confirmar
    </button>
  </div>
</ng-template>
