.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

button {
  font-weight: bold;
}

.well {
  margin:10px 0px;
  background-color: #fff;
  border: none;
}