<svg width="38" height="34" viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M36.7483 3.14075L34.3007 0.562397C33.9447 0.187493 33.5217 0 33.0321 0C32.5431 0 32.1198 0.187493 31.7642 0.562397L17.3689 15.7264L11.5178 9.56239C11.1618 9.18724 10.7389 8.99999 10.2496 8.99999C9.76023 8.99999 9.33756 9.18724 8.98143 9.56239L6.53411 12.1404C6.17814 12.5154 6 12.9608 6 13.4766C6 13.9921 6.17814 14.4374 6.53411 14.8125L16.101 24.8904C16.4571 25.2657 16.8799 25.4528 17.3692 25.4528C17.8585 25.4528 18.2813 25.2657 18.6374 24.8904L36.7481 5.81253C37.1038 5.43762 37.2822 4.99212 37.2822 4.4766C37.2822 3.96108 37.1043 3.51566 36.7483 3.14075Z" fill="#0E4F7C"/>
    <path d="M34.9453 21H30.7266C30.1437 21 29.6719 21.3923 29.6719 21.877V28.0156H6.32812V21.877C6.32812 21.3923 5.85633 21 5.27344 21H1.05469C0.471797 21 0 21.3923 0 21.877V30.6465C0 32.0975 1.41891 33.2773 3.16406 33.2773H32.8359C34.5804 33.2773 36 32.0975 36 30.6465V21.877C36 21.3923 35.5282 21 34.9453 21Z" fill="#0E4F7C"/>
</svg>
