<svg width="56" height="35" viewBox="0 0 56 35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M49.8952 13.3505L55.2117 8.03401C55.8642 7.3816 55.8642 6.32382 55.2117 5.67087L54.0302 4.48931C53.3778 3.8369 52.32 3.8369 51.667 4.48931L46.3505 9.80583L41.034 4.48931C40.3816 3.8369 39.3238 3.8369 38.6709 4.48931L37.4893 5.67087C36.8369 6.32329 36.8369 7.38106 37.4893 8.03401L42.8058 13.3505L37.4893 18.667C36.8369 19.3195 36.8369 20.3772 37.4893 21.0302L38.6709 22.2117C39.3233 22.8642 40.3816 22.8642 41.034 22.2117L46.3505 16.8952L51.667 22.2117C52.3195 22.8642 53.3778 22.8642 54.0302 22.2117L55.2117 21.0302C55.8642 20.3778 55.8642 19.32 55.2117 18.667L49.8952 13.3505Z" fill="#D9534F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M49.9225 23.7496C49.9736 24.1593 50 24.5766 50 25C50 30.5234 45.5234 35 40 35H11.25C5.03906 35 0 29.9609 0 23.75C0 18.8438 3.14062 14.6719 7.51562 13.1328C7.50781 12.9219 7.5 12.7109 7.5 12.5C7.5 5.59375 13.0938 0 20 0C24.6328 0 28.6719 2.51562 30.8359 6.26562C31.9783 5.49904 33.352 5.03611 34.8249 5.00202L34.4141 5.41282C33.6331 6.19387 33.6331 7.4602 34.4141 8.24125L39.6656 13.4927L34.8695 18.2887C34.0885 19.0698 34.0885 20.3361 34.8695 21.1172L38.7604 25.008C39.5415 25.7891 40.8078 25.7891 41.5888 25.008L46.3849 20.212L49.9225 23.7496Z" fill="#D9534F"/>
</svg>
